@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen:wght@400..800&display=swap");

/* Common: BEGIN */
:root {
    --black: #171100;
    --grey: #5f5b53;
    --yellow: #ffb900;
}

body {
    height: 56.25rem;
    padding: 0 0 4.0625rem;
    background: #fff;
    font-family: "Poppins", serif;
    font-size: 1.125rem;
    color: var(--black);

    & > * > *, #hero-container {
        width: 73.125rem;
        margin: auto;
    }
}

h2 {
    margin-bottom: 1rem;
    color: var(--black);
    font-family: "Sen", serif;
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -0.0475rem;
}

.btn {
    color: #fff;
    font-weight: 600;
    transition: transform ease 0.3s;

    &:active {
        transform: scale(0.95);
    }
}

/* Common: END */

/* Main: BEGIN */

/* Hero: BEGIN */

#hero {
    width: 100%;
    padding-top: 2.25rem;
    background-color: #fffcf4;
}

#menu {
    display: flex;
    align-items: center;
    margin-bottom: 4.0625rem;
}

#logo {
    margin-right: 32rem;
    font-family: "Sen", serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.125rem;
}

.yellow {
    color: var(--yellow);
}

nav > ul {
    display: flex;
    gap: 2.625rem;
    margin-right: 4.375rem;

    li {
        font-size: 1rem;
        line-height: 1.75rem;

        &:hover {
            text-shadow: -0.07ex 0 0 var(--black), 0.07ex 0 0 var(--black);
        }
    }
}

#sign-up-btn {
    padding: 0.6875rem 2.5625rem 0.625rem;
    border-radius: 1.5313rem;
    background-color: #171100;
    font-size: 1rem;
    line-height: 1.75rem;
}

#content {
    display: flex;
    gap: 14.375rem;
}

/* Left content: BEGIN */

#left-content {
    position: relative;
}

#left-content > img {
    width: 29.375rem;
    height: 42.8125rem;
    border-radius: 1.25rem;
    object-fit: cover;
    object-position: 80%;
    filter: grayscale(0.05);
}

#card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 24.5625rem;
    left: 18.75rem;
    width: 16.875rem;
    height: 15.25rem;
    padding: 1.5rem;
    border-radius: 0.75rem;
    background: #fff;
    box-shadow: 0rem 1rem 2rem 0rem rgba(0, 0, 0, 0.05);

    small {
        color: var(--grey);
        font-size: 0.875rem;
        line-height: 1.625rem;
    }

    p {
        font-weight: 600;
        line-height: 1.875rem;
    }
}

.course {
    height: 3.5rem;
}

.icon {
    float: left;
    margin-right: 1rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Left content: END */

/* Right content: BEGIN */

#right-content {
    margin-top: 4rem;

    h1 {
        margin-bottom: 1.375rem;
        font-family: "Sen", serif;
        font-size: 3.625rem;
        font-weight: 700;
        line-height: 4.25rem;
        letter-spacing: -0.0725rem;
    }

    p {
        margin-bottom: 2.375rem;
        color: var(--grey);
        line-height: 1.875rem;
    }
}

#see-more {
    display: flex;
    align-items: center;
    height: 4rem;
    margin-bottom: 3rem;
}

#watch-video {
    display: flex;
    align-items: center;

    img {
        margin: 0.875rem -0.1875rem 0 0.75rem;
    }

    p {
        color: var(--black);
        font-weight: 600;
        margin: 0;
    }
}

#see-courses-btn {
    padding: 1.0625rem 2.0625rem 1.0625rem 2.125rem;
    border-radius: 2rem;
    background-color: var(--yellow);
    line-height: 1.875rem;
}

#right-content > p:nth-of-type(2) {
    margin-bottom: 0.5rem;
}

#engagement {
    display: flex;
    gap: 1.75rem;
}

.big {
    color: var(--black);
    font-family: "Sen", serif;
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 3.375rem;
}

/* Right content: END */

/* Hero: END */

/* Courses: BEGIN */

#courses {
    padding: 8.4375rem 0;
}

#courses-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.4375rem;

    & > div:not(#nav-btns) {
        width: 28.625rem;

        p {
            color: var(--grey);
            line-height: 1.875rem;
        }
    }
}

#nav-btns {
    display: flex;
    gap: 1.125rem;

    button {
        height: 2.75rem;
        border: none;
        background: none;

        svg {
            fill: #fff;
            transition: ease 0.3s;

            &:hover {
                cursor: pointer;
                fill: var(--yellow);
                transform: scale(1.05);

                path {
                    stroke: #fff;
                }
            }
        }
    }
}

#cards {
    display: flex;
    gap: 1.875rem;
}

.card {
    width: 23.125rem;
    height: 29.125rem;
    border-radius: 0.75rem;
    background-color: #fff;
    box-shadow: 0rem 1.125rem 2.25rem 0rem rgba(0, 0, 0, 0.05);

    & > a > img {
        width: 23.125rem;
        height: 17.375rem;
        border-radius: 0.75rem 0.75rem 0 0;
    }

    &:last-of-type > a > img {
        object-fit: none;
        object-position: 40% 40%;
    }
}

.card-info {
    padding: 1rem 1.375rem 1.375rem;

    h3,
    .price {
        color: var(--black);
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.875rem;
    }
}

.card-info-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating {
    img {
        vertical-align: middle;
    }

    span {
        color: #fea31b;
        font-size: 1rem;
        line-height: 1.75rem;
    }
}

.card-info > p:not(.price) {
    margin: 0.375rem 0 0.75rem;
    color: var(--grey);
    font-size: 0.875rem;
    line-height: 1.625rem;
}

.course-booking {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        padding: 0.75rem 1.5rem;
        border-radius: 1.5625rem;
        background-color: var(--black);
        color: #fff;
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.625rem;
        transition: background-color ease 0.3s;

        &:hover {
            background-color: var(--yellow);
        }
    }
}

/* Courses: END */

/* Main: END */
