@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: Oswald;
    src: url(assets/fonts/Oswald/static/Oswald-Regular.ttf);
}

h1 {
    background-color: blue;
    color: yellow;
    text-decoration: underline;
    width: 300px;
}

.description {
    font-family: 'Oswald', sans-serif;
    background-color: bisque;
    width: 400px;
    text-align: center;
}
